@import url('https://fonts.googleapis.com/css?family=Dancing+Script:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,900');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 400vh;
}

.website {
margin: 1vw 1vw 0 1vw;
}

.landing {
    background-image: url(zdj/landing.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-position: 50% 50%;
}

.landingText {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.dancingFont {
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}

.playFair {
    font-family: 'Playfair Display', serif;
}

.ralewayFont {
    font-family: 'Raleway', sans-serif;
}

.mariaLanding {
    font-weight: 100;
}

.photographyLanding {
    margin-bottom: 60px;
    font-weight: 100;
    font-size: 23px;
}

.seeLanding {
    font-size: 50px;
    font-weight: 100;
}

.bottomLanding {
    background-color: white;
    height: 3px;
    width: 82px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.loremLanding {
    width: 445px;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}

.arrowDown {
    position: absolute;
    bottom: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-left: 55px;
    padding-right: 25px;
    border-bottom-color: #ebebeb;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.nav ul {
    display: flex;
    margin-top: 10px;

}

.nav ul li {
    list-style-type: none;
    margin: 0 30px 0 30px;
    font-weight: 500;
    color: #696969;
}

.nav h1 {
    color: #838181;
    font-weight: 100;
}

.bottomWorks {
    border-bottom-color: #d07c7c;
    border-bottom-style: solid;
    padding-bottom: 6px;
}

.littleText {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.textLittle {
    margin-top: 140px;
    color: #5a5957;
    font-weight: 200;
}

.bottomLittle {
    border-bottom-color: #d07c7c;
    border-bottom-style: solid;
    height: 3px;
    width: 60px;
    margin-top: 22px;
}

.loremText {
    width: 750px;
    height: 88px;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    line-height: 28px;
}

.worksText {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.works {
    margin-top: 140px;
    font-weight: 200;
    font-size: 31px;
    color: #5a5957;
}

.bottomWork {
    border-bottom-color: #d07c7c;
    border-bottom-style: solid;
    height: 3px;
    width: 65px;
    margin-top: 10px;
}