@import url('https://fonts.googleapis.com/css?family=Dancing+Script:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,900');
* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

.website {
margin: 1vw 1vw 0 1vw;
}

.landing {
    background-image: url(zdj/landing.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-position: 50% 50%;
}

.landingText {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.dancingFont {
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}

.playFair {
    font-family: 'Playfair Display', serif;
}

.ralewayFont {
    font-family: 'Raleway', sans-serif;
}

.mariaLanding {
    font-weight: 100;
}

.photographyLanding {
    margin-bottom: 60px;
    font-weight: 100;
    font-size: 23px;
}

.seeLanding {
    font-size: 50px;
    font-weight: 100;
}

.bottomLanding {
    background-color: white;
    height: 3px;
    width: 82px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.loremLanding {
    width: 445px;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
}

.arrowDown {
    position: absolute;
    bottom: 70px;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding-left: 55px;
    padding-right: 25px;
    border-bottom-color: #ebebeb;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.nav ul {
    display: flex;
    margin-top: 10px;

}

.nav ul li {
    list-style-type: none;
    margin: 0 30px 0 30px;
    font-weight: 500;
    color: #696969;
}

.nav h1 {
    color: #838181;
    font-weight: 100;
}

.bottomWorks {
    border-bottom-color: #d07c7c;
    border-bottom-style: solid;
    padding-bottom: 6px;
}

.littleText {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.textLittle {
    margin-top: 140px;
    color: #5a5957;
    font-weight: 200;
}

.bottomLittle {
    background-color: #d07c7c;
    height: 3px;
    width: 60px;
    margin-top: 24px;
}

.loremText {
    width: 750px;
    height: 88px;
    font-weight: 200;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
    line-height: 28px;
}

.worksText {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.works {
    margin-top: 140px;
    font-weight: 200;
    font-size: 31px;
    color: #5a5957;
}

.bottomWork {
    background-color: #d07c7c;
    height: 3px;
    width: 65px;
    margin-top: 10px;
}

.tabela {
    margin-top: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.nature {
    background-image: url(zdj/nature.png);
    width: 765px;
    height: 370px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.corner1 {
    position: absolute;
    top: 0;
    left: 0;
}

.corner2 {
    position: absolute;
    top: 0;
    right: 0;
}

.corner3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.corner4 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.natureText, .peopleText, .weddingText, .urbanText, .architectureText, .animalsText, .corners {
    width: 205px;
    height: 80px;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    color: white;
}

.styledHeader h4 {
    font-weight: 300;
    font-size: 23px;
}

.styledHeader h5 {
    font-weight: 300;
    font-size: 16px;
}

.tabelaBottom {
    background-color: white;
    height: 2px;
    width: 140px;
    margin: 10px 0 10px 0;
}

.people {
    background-image: url(zdj/people.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 370px;
    height: 362px;
}

.peopleWedding {
    margin-top: 25px;
    display: flex;
}

.wedding {
    background-image: url(zdj/wedding.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 370px;
    height: 362px;
    margin-left: 25px;
}

.urban {
    background-image: url(zdj/urban.png);
    width: 440px;
    height: 757px;
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.architectureAnimals {
    margin-top: 25px;
    display: flex;
}

.architecture {
    background-image: url(zdj/architecture.png);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 764px;
    height: 362px;
}

.animals {
    background-image: url(zdj/animals.png);
    width: 440px;
    height: 362px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin-left: 25px;
}

.tabelaRow {
    display: flex;
}

.animalsText  {
    width: 340px;
    height: 240px;
}

.loadMore {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.loadMore button {
    background-color: #d07c7c;
    width: 200px;
    height: 50;
    margin-top: 80px;
    border: none;
    color: white;
    font-size: 16px;
}

.seeText {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.theWorld {
    margin-top: 140px;
    color: #848282;
    font-weight: 300;
    font-size: 28px;
}

.seeBottom {
    background-color: #d07c7c;
    width: 32px;
    height: 4px;
    margin-top: 23px;
}

.seeLorem {
    font-weight: 200;
    width: 542px;
    font-size: 18px;
    color: #848282;
    text-align: center;
    margin-top: 50px;
}

.johnText {
    font-weight: 100;
    font-size: 15px;
    color: #a0a0a0;
    margin-top: 30px;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #d3d3d3;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.redDot {
    background-color: #d07c7c;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-bottom: 0;
}

.dots {
    margin-top: 40px;
}

.watchPhoto {
    background-image: url(zdj/Photocorner.png);
    width: 100%;
    height: 500px;
    margin-top: 140px;
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    position: relative;
}

.corners {
    width: 68px;
    height: 57px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cornerBlack1 {
    position: absolute;
    top: 0;
    left: 0;
}

.cornerBlack2 {
    position: absolute;
    top: 0;
    right: 0;
}

.cornerBlack3 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cornerBlack4 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.line1 {
    position: absolute;
    top: 262px;
    right: 520px;
}

.line2 {
    position: absolute;
    bottom: 310px;
    left: 520px;
}

.watchMe {
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
}

.followMe {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

.followText {
    color: #5a5957;
    margin-top: 140px;
    font-weight: 500;
    font-size: 25px;
}

.bottomFollow {
    background-color: #d07c7c;
    width: 62px;
    height: 4px;
    margin-top: 23px;
}

.socialMedia {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.socialMedia .pinterestLine, .instagramLine, .twitterLine, .googleLine, .tumblrLine {
    margin: 0 50px 0 50px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 65px;
    width: 65px;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
}

.instagram {
    background-color: #d07c7c;
    border-radius: 50%;
}

.instagramLine {
    border-color: #d07c7c;
}

.pinterest, .instagram, .twitter, .google, .tumblr {
    height: 50px;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.footer {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.angleUp {
    margin-top: 25px;
}

.mariaAnnaFooter {
    margin-top: 30px;
    font-size: 23px;
}

.contactMe {
    background-image: url(zdj/Architecture-picture.png);
    width: 100%;
    height: 693px;
    margin-top: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-size: cover;
}

.formContact {
    margin-top: 60px;

}

.formContact input, .formContact textarea {
    display: block;
    border-color: #d07c7c;
    width: 585px;
    margin: 15px 0 0 0 ;
    color: #848282;
    padding-left: 30px;
    font-family: 'Raleway', sans-serif;
    border-style: solid;
    border-width: 1px;
}

.contactMeText {
    margin-top: 75px;
    font-size: 25px;
    font-weight: 300;
    color: #5a5957;
}

.bottomContact {
    background-color: #d07c7c;
    width: 60px;
    height: 3px;
    margin-top: 25px;
}

.claritasContact {
    font-size: 15px;
    font-weight: 200;
    margin-top: 25px;
    color: #848282;
}
.formContact textarea {
    height: 135px;
    padding-top: 20px;
    resize: none;
}

.formContact input {
    height: 50px;
}

.contactSend {
    align-items: center;
    display: flex;
    margin-top: 52px;
    width: 585px;
    height: 50px;
    position: relative;
    justify-content: space-between;
    
}

.buttonSend {
    background-color: #d07c7c;
    width: 140px;
    height: 50;
    border: none;
    color: white;
    font-size: 16px;
}

.sendText {
    margin-left: 30px;
    font-size: 15px;
    font-weight: 200;
    color: #848282;
}

.CopyRight {
    font-size: 15px;
    font-weight: 200;
    color: #848282;
    margin-top: 30px;
}